.imagen{
    width: 100%;
}
.imagen-xr{
    display: none;
}
@media (max-width: 614px) {
    .imagen{
        display: none;
    }
    .imagen-xr{
        display: inline;
        width: 100%;
    }
}